作業目標:<br>
1. 運用編碼處理類別資料<br>
2. 補缺失值

作業重點: <br>
1. 類別編碼有多種方法，需分辨使用方法與時機<br>
2. 補缺失值須因應情境決定如何補值

題目 : 
將以下問卷資料的職業(Profession)欄位缺失值填入字串'others'，更進一步將字串做編碼。
此時用什麼方式做編碼比較適合?為什麼?

import pandas as pd <br>
q_df = pd.DataFrame([['male', 'teacher'], 
              ['male', 'engineer'],
              ['female', None],
              ['female', 'engineer']],columns=['Sex','Profession'])

In [1]:
import pandas as pd
q_df = pd.DataFrame([['male', 'teacher'], 
              ['male', 'engineer'],
              ['female', None],
              ['female', 'engineer']],columns=['Sex','Profession'])
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female       None
3  female   engineer

In [2]:
#缺失值填入字串'others'
q_df=q_df.fillna('others')
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

In [3]:
#更進一步將字串做編碼。 此時用什麼方式做編碼比較適合?為什麼?
dum_sex=pd.get_dummies(q_df[['Sex']])
dum_pro=pd.get_dummies(q_df[['Profession']])
q_df.insert(1,'Sex_male',dum_sex['Sex_male'])
q_df.insert(2,'Sex_female',dum_sex['Sex_female'])
q_df=pd.concat([q_df,dum_pro],axis=1)
q_df

#使用get_dummies因為sex跟profession都不是順序性資料，因此使用dummy variables來表示較適當

,Sex,Sex_male,Sex_female,Profession,Profession_engineer,Profession_others,Profession_teacher
0,male,1,0,teacher,0,0,1
1,male,1,0,engineer,1,0,0
2,female,0,1,others,0,1,0
3,female,0,1,engineer,1,0,0